/*-------------------------------*/
/* White, Gray, and Black Themes */
/*-------------------------------*/

/*
 * White Theme
 */

.theme-white {
  background-color: #fff;
}

.theme-white #main_page_nav {
  background-color: rgba(255,255,255,0.7);
}

.theme-white #second_hand, .theme-white #minute_hand, .theme-white #hour_hand {
  fill: #fff;
}

/*
 * Light Gray Theme
 */

.theme-lt-gray {
  background-color: #ccc;
}

.theme-lt-gray #main_page_nav {
  background-color: rgba(205,205,205,0.7);
}

.theme-lt-gray #second_hand, .theme-lt-gray #minute_hand, .theme-lt-gray #hour_hand {
  fill: #ccc;
}

/*
 * Medium Light Gray Theme
 */

.theme-md-lt-gray {
  background-color: #999;
}

.theme-md-lt-gray #main_page_nav {
  background-color: rgba(154,154,154,0.7);
}

.theme-md-lt-gray #second_hand, .theme-md-lt-gray #minute_hand, .theme-md-lt-gray #hour_hand {
  fill: #999;
}

/*
 * Medium Dark Gray Theme
 */

.theme-md-dk-gray {
  background-color: #666;
}

.theme-md-dk-gray #main_page_nav {
  background-color: rgba(103,103,103,0.7);
}

.theme-md-dk-gray #second_hand, .theme-md-dk-gray #minute_hand, .theme-md-dk-gray #hour_hand {
  fill: #666;
}

/*
 * Dark Gray Theme
 */

.theme-dk-gray {
  background-color: #333;
}

.theme-dk-gray #main_page_nav {
  background-color: rgba(52,52,52,0.7);
}

.theme-dk-gray #second_hand, .theme-dk-gray #minute_hand, .theme-dk-gray #hour_hand {
  fill: #333;
}

/*
 * Black Theme
 */

.theme-black {
  background-color: #000;
}

.theme-black #main_page_nav {
  background-color: rgba(0,0,0,0.7);
}

.theme-black #second_hand, .theme-black #minute_hand, .theme-black #hour_hand {
  fill: #000;
}

/*
 * Black Text
 * Used in White and Light Gray themes
 */

.theme-white #content_container, .theme-white #content_container a, .theme-lt-gray #content_container, .theme-lt-gray #content_container a {
  color: #000;
}

/*
 * White Text
 * Used in Medium Light Gray, Medium Dark Gray, Dark Gray, and Black Themes
 */

.theme-md-lt-gray #content_container, .theme-md-lt-gray #content_container a, .theme-md-dk-gray #content_container, .theme-md-dk-gray #content_container a, .theme-dk-gray #content_container, .theme-dk-gray #content_container a, .theme-black #content_container, .theme-black #content_container a {
  color: #fff;
}

/*-----------------------*/
/* Colors for Clock Face */
/*-----------------------*/

.hour0  { fill: #343493; }
.hour1  { fill: #5c329e; }
.hour2  { fill: #7b2a8c; }
.hour3  { fill: #933191; }
.hour4  { fill: #ad3691; }
.hour5  { fill: #bc4271; }
.hour6  { fill: #e88585; }
.hour7  { fill: #ba5d56; }
.hour8  { fill: #e87d52; }
.hour9  { fill: #ea9250; }
.hour10 { fill: #e8a752; }
.hour11 { fill: #ddc78a; }
.hour12 { fill: #ddcb7f; }
.hour13 { fill: #e5ce6a; }
.hour14 { fill: #ddd67a; }
.hour15 { fill: #c1c660; }
.hour16 { fill: #9fb541; }
.hour17 { fill: #779e54; }
.hour18 { fill: #377226; }
.hour19 { fill: #7daf84; }
.hour20 { fill: #5b9984; }
.hour21 { fill: #126466; }
.hour22 { fill: #2f609b; }
.hour23 { fill: #4451aa; }
