/* General */

*, *:before, *:after {
  box-sizing: padding-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 10px;
}

.clearfix:before, .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* Fonts */

@font-face {
	font-family: Comfortaa Bold;
	src: url(/fonts/Comfortaa-Bold.ttf);
}

@font-face {
	font-family: Comfortaa;
	src: url(/fonts/Comfortaa-Regular.ttf);
}

@font-face {
	font-family: Comfortaa Light;
	src: url(/fonts/Comfortaa-Light.ttf);
}

h1, h1 a, h2, h3, h4, h5, h6 {
  font-family: Comfortaa Light, sans-serif;
  font-weight: normal;
  letter-spacing: 0.25em;
  text-decoration: none;
}

p, th, td, li, span {
  font-family: Comfortaa, sans-serif;
}

p, th, td, li {
  line-height: 1.5em;
  letter-spacing: 2px;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-family: Comfortaa Bold, sans-serif;
  font-size: 1.5em;
  -webkit-margin-before: 2em;
  margin-top: 2em;
}

strong {
  font-family: Comfortaa Bold, sans-serif;
  text-decoration: underline;
}

/* Links */

a {
  font-family: Comfortaa Bold, sans-serif;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

/* Clock */

#clock_container {
  position: fixed;
  z-index: -1;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  max-width: 90%;
}

#clock {
}

#clock_face, #second_hand, #minute_hand, #hour_hand {
}

/* Content Sections */

#content_container {
  max-width: 100%;
  position: relative;
}

#main_page_nav, #child_page_nav {
  text-align: center;
  position: relative;
  padding: 40px 0;
}

#nav_links {
  padding: 0;
  margin: 0;
  list-style: none;
}

#nav_links li {
  display: inline-block;
}

#nav_links a {
  text-decoration: none;
  font-size: 1.25em;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: 3px;
}

/* Child Page Sections */

#child_page_container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto 100px auto;
}

#child_page_container #clock_container {
  opacity: 0.2;
}

/* Portfolio */

.port-item-container {
  margin-bottom: 25px;
}

.port-image-section {
  float: left;
}

#port-image-gallery {
  text-align: center;
}

.port-image {
  margin: 5px;
  border-radius: 10px;
  border: solid 1px #eee;
}

.port-image-section .port-image {
  margin: 0 25px 0 0;
}

.port-description {
  padding-top: 25px;
}

.port-description a {
  text-decoration: underline;
}

/* Mobile specific */

@media all and (max-width: 600px) {
  #main_page_nav, #child_page_nav {
    padding: 20px 0 40px 0;
    top: 0 !important;
  }
  
  #main_page_nav {
    background-color: transparent !important;
  }
  
  #clock_container {
    opacity: 0.2;
  }
  
  h1 {
    font-size: 2.25em;
  }
  
  #nav_links li, #nav_links a {
    display: block;
  }
  
  .port-image-section {
    float: none;
  }
  
  .port-image-section .port-image {
    display: block;
    margin: 10px auto;
  }
  
  .port-image-section img {
    max-width: 100%;
    height: auto;
  }
}