/*-------*/
/* About */
/*-------*/

#social_links {
  text-align: center;
}

#social_links ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

#social_links li {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 15px;
  
  &:before {
    content: none;
  }
}

#social_links a {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 35px;
  color: #fff;
  letter-spacing: 5px;
  text-indent: -100000px;
  
  &.social-twitter {
    background-image: url(/images/social_twitter.png);
  }
  
  &.social-github {
    background-image: url(/images/social_github.png);
  }
  
  &.social-linkedin {
    background-image: url(/images/social_linkedin.png);
  }
}