/*---------------*/
/* Media Queries */
/*---------------*/

@media screen and (min-width: 400px) {
  #main-page-container #nav {
    padding: 70px 0;
  }
}

@media all and (max-width: 499px) {
  #main_page_container #nav {
    background-color: transparent !important;
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 3em;
  }
  
  #content_container {
    max-width: 100%;
  }
  
  #main_page_container {
    #clock_container {
      opacity: 1;
    }
  }
  
  #child_page_container {
    width: 80%;
  }
  
  #nav {
    padding: 40px 0;
    
    li, a {
      display: inline-block;
    }
  }
}

@media all and (min-width: 600px) {
  #resume_download_section {
    float: right;
    margin: 25px 0 25px 25px;
    padding: 25px;
    background-color: rgba(136,136,136,0.2);
  }
}

@media all and (min-width: 850px) {
  h3 {
    text-align: left;
  }
  
  .port-item-container {
    > a {
      float: left;
      margin: 0 25px 0 0;
    }
    
    .port-description {
      text-align: left;
      overflow: hidden;
    }
  }
}