//--------//
// Mixins //
//--------//

@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

@mixin make_theme($main-color, $main-translucent-color, $text-color) {
  background-color: $main-color;
  color: $text-color;
  
  #main_page_container #nav {
    background-color: $main-translucent-color;
  }
  
  a {
    color: $text-color;
  }
  
  #second_hand, #minute_hand, #hour_hand {
    fill: $main-color;
  }
}

@mixin accent_color($accent-color) {
  #clock_face {
    fill: $accent-color;
  }
  
  h4 {
    @include clearfix;
    display: inline-block;
    border-bottom: solid 2px $accent-color;
  }
  
  a, #nav a:hover {
    background-color: rgba($accent-color, 0.35);
  }
  
  a:hover {
    background-color: rgba($accent-color, 0.8);
  }
  
  a.lb-cancel, a.lb-close {
    background-color: transparent;
  }
  
  hr {
    border-bottom: dashed 5px $accent-color;
  }
  
  ul li:before {
    background-color: $accent-color;
  }
  
  .port-item-container img, #port-image-gallery img, #resume_download_section img {
    border: solid 1px $accent-color;
  }
  
  #back-to-top {
    padding-top: 20px;
    text-align: center;
    
    a {
      display: inline-block;
      width: 200px;
      padding: 10px;
    }
  }
}

//-----------------//
// Utility Classes //
//-----------------//

%theme-white {
  @include make_theme(#fff, rgba(255,255,255,0.7), #000);
}

%theme-lt-gray {
  @include make_theme(#ccc, rgba(205,205,205,0.7), #000);
}

%theme-md-lt-gray {
  @include make_theme(#999, rgba(154,154,154,0.7), #000);
}

%theme-md-dk-gray {
  @include make_theme(#666, rgba(103,103,103,0.7), #fff);
}

%theme-dk-gray {
  @include make_theme(#333, rgba(52,52,52,0.7), #fff);
}

%theme-black {
  @include make_theme(#000, rgba(0,0,0,0.7), #fff);
}