/*---------------*/
/* Color Schemes */
/*---------------*/

// Creates a color scheme using the main background color and the text color
@mixin make_theme($main-color, $text-color) {
    background-color: $main-color;
    color: $text-color;
    
    a {
        color: $text-color;
    }
    
    #second-hand, #minute-hand, #hour-hand {
        fill: $main-color;
    }
    
    @include breakpoint($size-sm) {
        &.home #nav {
            background-color: rgba($main-color, 0.7);
        }
    }
}

// Adds an accent color throughout the site
@mixin accent_color($accent-color) {
    #clock-face, .back-to-top svg {
        fill: $accent-color;
    }
    
    h4 {
        border-bottom: solid 2px $accent-color;
    }
    
    a, #nav a:hover {
        background-color: rgba($accent-color, 0.5);
    }
    
    a:hover {
        background-color: rgba($accent-color, 0.9);
    }
    
    hr {
        border-color: $accent-color;
    }
    
    main ul li:before {
        background-color: $accent-color;
    }
    
    .port-item-container .port-info ul li:before {
        color: $accent-color;
    }
}

// Daytime
@for $i from 9 through 16 {
    .hour#{$i} { @include make_theme(#fff, #000); }
}

// Nighttime
@for $i from 0 through 4 {
    .hour#{$i} { @include make_theme(#000, #fff); }
}

@for $i from 21 through 23 {
    .hour#{$i} { @include make_theme(#000, #fff); }
}

// Dawn
.hour5  { @include make_theme(#332c2c, #fff); }
.hour6  { @include make_theme(#665a5a, #fff); }
.hour7  { @include make_theme(#bfafaf, #000); }
.hour8  { @include make_theme(#efece4, #000); }

// Dusk
.hour17 { @include make_theme(#ebebf1, #000); }
.hour18 { @include make_theme(#b7b7be, #000); }
.hour19 { @include make_theme(#56565f, #fff); }
.hour20 { @include make_theme(#292931, #fff); }

// Accent colors
.hour0  { @include accent_color(#2c2c9e); }
.hour1  { @include accent_color(#5a329e); }
.hour2  { @include accent_color(#7b2a8c); }
.hour3  { @include accent_color(#933191); }
.hour4  { @include accent_color(#ad3691); }
.hour5  { @include accent_color(#bc4271); }
.hour6  { @include accent_color(#e88585); }
.hour7  { @include accent_color(#ba5d56); }
.hour8  { @include accent_color(#e87d52); }
.hour9  { @include accent_color(#ea9250); }
.hour10 { @include accent_color(#f1ae58); }
.hour11 { @include accent_color(#eacc64); }
.hour12 { @include accent_color(#f7d57e); }
.hour13 { @include accent_color(#f5df7e); }
.hour14 { @include accent_color(#e0e07d); }
.hour15 { @include accent_color(#ced456); }
.hour16 { @include accent_color(#acc347); }
.hour17 { @include accent_color(#779e54); }
.hour18 { @include accent_color(#377226); }
.hour19 { @include accent_color(#7daf84); }
.hour20 { @include accent_color(#5b9984); }
.hour21 { @include accent_color(#126466); }
.hour22 { @include accent_color(#1d589e); }
.hour23 { @include accent_color(#2e3c9c); }