/*--------*/
/* Global */
/*--------*/

html {
    // Allows for rems to size similar to px
    font-size: 62.5%;
}

body {
    padding-top: 2rem;
}

.prevent-transition * {
    @include transition(none !important);
}

main {
    position: relative;
    display: block;
    max-width: 950px;
    margin: 0 auto 10rem auto;
    padding: 0 1.5rem;
    
    @include breakpoint($size-sm) {
        padding-top: 4rem;
    }
    
    @include breakpoint($size-md) {
        padding-top: 1.5rem;
    }
}