/*--------*/
/* Global */
/*--------*/

html {
    // Allows for rems to size similar to px
    font-size: 62.5%;
}

body {
    margin-top: 10px;
}

.prevent-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

main {
    position: relative;
    display: block;
    padding: 0 15px;
}