/*--------*/
/* Global */
/*--------*/

html {
    // Allows for rems to size similar to px
    font-size: 62.5%;
}

body {
    padding-top: 2rem;
}

.prevent-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

main {
    position: relative;
    display: block;
    padding: 0 1.5rem;
}