/*---------------*/
/* Media Queries */
/*---------------*/

@media screen and (min-width: 480px) {
    .about-image {
        float: left;
        max-width: 50%;
        margin-right: 30px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 499px) {
    .home #nav {
        background-color: transparent !important;
    }
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 50px;
        font-size: 5rem;
    }
    
    .home {
        #clock-container {
            opacity: 1;
        }
    }
    
    #nav {
        padding: 40px 0;
        
        li {
            display: inline-block;
        }
    }
}

@media all and (min-width: 600px) {
    #social_links h4 {
        max-width: 100%;
    }
    
    #resume_download_section {
        float: right;
        margin: 25px 0 25px 25px;
        padding: 25px;
        background-color: rgba(136,136,136,0.2);
    }
}

@media all and (min-width: 850px) {
    h3 {
        text-align: left;
    }
    
    .port-item-container {
        > a {
            float: left;
            margin: 0 25px 0 0;
        }
        
        .port-description {
            text-align: left;
            overflow: hidden;
        }
    }
}