/*---------------*/
/* Media Queries */
/*---------------*/

@media screen and (min-width: 480px) {
    .about-image {
        float: left;
        max-width: 50%;
        margin: 0.5rem 3rem 1.5rem 0;
    }
}

@media all and (max-width: 499px) {
    .home #nav {
        background-color: transparent !important;
    }
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 5rem;
    }
    
    .home {
        #clock-container {
            opacity: 1;
        }
    }
    
    #nav {
        padding-top: 4rem;
        padding-bottom: 4rem;
        
        li {
            display: inline-block;
        }
    }
}

@media all and (min-width: 600px) {
    .port-image-gallery {
        img {
            width: 200px;
        }
    }
    
    .resume_download_section {
        float: right;
        margin: 2.5rem;
        margin-left: 0;
        background-color: rgba(136, 136, 136, 0.2);
    }
    
    .hide-on-medium-size {
        display: none;
    }
}

@media all and (min-width: 850px) {
    h3 {
        text-align: left;
    }
    
    .about-image {
        max-width: 40%;
    }
    
    .hide-on-large-size {
        display: none;
    }
}