/*------------*/
/* Typography */
/*------------*/

@font-face {
    font-family: 'comfortaalight';
    src: url('/fonts/comfortaa-light-webfont.eot');
    src: url('/fonts/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/comfortaa-light-webfont.woff2') format('woff2'),
         url('/fonts/comfortaa-light-webfont.woff') format('woff'),
         url('/fonts/comfortaa-light-webfont.ttf') format('truetype'),
         url('/fonts/comfortaa-light-webfont.svg#comfortaalight') format('svg');
    font-weight: $light;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url('/fonts/comfortaa-regular-webfont.eot');
    src: url('/fonts/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('/fonts/comfortaa-regular-webfont.woff') format('woff'),
         url('/fonts/comfortaa-regular-webfont.ttf') format('truetype'),
         url('/fonts/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaabold';
    src: url('/fonts/comfortaa-bold-webfont.eot');
    src: url('/fonts/comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('/fonts/comfortaa-bold-webfont.woff') format('woff'),
         url('/fonts/comfortaa-bold-webfont.ttf') format('truetype'),
         url('/fonts/comfortaa-bold-webfont.svg#comfortaabold') format('svg');
    font-weight: $bold;
    font-style: normal;

}

body, h1, h2, h3, h4, h5, h6, p, th, td, li {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}

h1, h2, h5, h6 {
    font-family: $comfortaa-light;
    font-weight: $light;
}

h1 {
    font-size: 3rem;

    a {
        text-decoration: none;
    }
}

h1, h2, h3 {
    letter-spacing: 0.5rem;
}

h2 {
    font-size: 2.6rem;
    text-align: center;
}

h3, h4, h5, h6 {
    margin-top: 3rem;
}

h3 {
    font-family: $comfortaa-bold;
    font-size: 2rem;
    font-weight: $bold;
    text-align: center;

    @include breakpoint($size-lg) {
        text-align: left;
    }
}

h4 {
    @extend %clearfix;
    display: inline-block;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: $bold;
}

h5, h6 {
    font-size: 1.6rem;
}


body, p, th, td, li, span {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.65;
}

ul {
    list-style: none;
}

main ul {
    li {
        position: relative;
        margin: 0.5rem 0 0.5rem 3rem;
    }

    li:before {
        position: absolute;
        top: calc(0.5em + 3px);
        left: -1em;
        display: inline-block;
        width: 10px;
        height: 5px;
        content: ' ';
    }
}

hr {
    margin: 3rem 0;
    border: none;
    border-bottom: dashed 5px #000;
}

a {
    padding: 0 0.2rem;
    text-decoration: none;

    &, img {
        @include transition(all 0.4s ease);
    }

    &:hover img {
        opacity: 0.5;
    }
}

@include breakpoint($size-sm) {
    h1 {
        font-size: 4rem;
    }
}

@include breakpoint($size-md) {
    h1 {
        font-size: 5rem;
        letter-spacing: 1rem;
    }

    h2 {
        font-size: 3.6rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5, h6 {
        font-size: 1.8rem;
    }

    body, p, th, td, li, span {
        font-size: 1.6rem;
    }
}

/* Lightbox fixes */
.lb-nav a.lb-prev, .lb-nav a.lb-next, .lb-loader .lb-cancel, .lb-data .lb-close {
    &, &:hover {
        background-color: transparent;
    }
}
