//-----------//
// Variables //
//-----------//

$size-sm: 480px;
$size-md: 600px;
$size-lg: 850px;

$comfortaa-light: 'comfortaalight', sans-serif;
$comfortaa-bold: 'comfortaabold';

$light: 300;
$normal: 400;
$bold: 700;