/*-------------*/
/* Child Pages */
/*-------------*/

.child-page {
    .clock-container {
        width: 18rem;
        left: calc(50% - 9rem);
    }
    
    .clock-container-inner {
        padding-bottom: 18rem;
    }
    
    @include breakpoint($size-sm) {
        #nav {
            position: relative;
            top: 9rem;
            @include transform(translate(0, -50%));
        }
    }
}