/*-----------*/
/* Portfolio */
/*-----------*/

/* Web Development */
.port-item-container {
    max-width: 700px;
    margin: 3rem auto 7rem;
    
    .port-headline {
        text-align: center;
    }
    
    .port-image {
        @extend %clearfix;
        
        a {
            display: block;
            padding: 0;
        }
        
        a, img {
            @extend %default-border-radius;
        }
    }
    
    .port-image-half-width {
        float: left;
        width: calc(50% - 0.5rem);
        margin: 0.5rem;
        
        &:nth-child(odd) {
            margin-left: 0;
        }
        
        &:nth-child(even) {
            margin-right: 0;
        }
    }
    
    .port-info {
        margin-top: 1.5rem;
        text-align: center;
        word-wrap: break-word;
        
        ul, p {
            margin: 0;
        }
        
        li {
            display: inline-block;
            margin: 0.2rem 0 0.2rem 1.75rem;
            
            &:before {
                top: auto;
                left: -0.75em;
                background-color: transparent;
                content: '#';
            }
        }
    }
    
    .port-description {
        max-width: 550px;
        margin: 0 auto;
    }
}

/* Design and Illustration */
.port-image-gallery {
    text-align: center;
    
    a, img {
        @extend %default-border-radius;
    }
    
    a {
        display: inline-block;
        margin: 0.5rem;
        padding: 0;
    }
    
    img {
        width: 100px;
    }
    
    @include breakpoint($size-md) {
        img {
            width: 200px;
        }
    }
}