/*-------*/
/* Clock */
/*-------*/

.clock-container {
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    opacity: 0.5;
}

.clock-container-inner {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.clock {
    position: absolute;
}