/*------------*/
/* Navigation */
/*------------*/

#nav {
    position: relative;
    padding: 30px 0;
    text-align: center;
    
    h1, ul {
        margin: 0;
    }
    
    h1, li {
        line-height: 1.2;
    }
    
    li {
        font-size: 20px;
        font-size: 2rem;
        letter-spacing: 3px;
        letter-spacing: 0.3rem;
        
        a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
        }
    }
    
    a {
        background-color: transparent;
    }
}