<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- Javascript -->
        <script src="/js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/lightbox.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body class="{% if page.url == '/' %}home{% else %}child-page{% endif %} prevent-transition">
        {% include clock.html %}
        {% include nav.html %}
        
        {% if content != '' %}
        <main>
            {{ content }}
        </main>
        {% endif %}
    </body>
</html>
